<section class="section">
    <div class="container">
        <p class="title">オファー　一覧</p>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>日付</th>
                    <th>タイトル名</th>
                    <th>予算</th>
                    <th>オファー数</th>
                    <th>所用期間</th>
                    <th>状況</th>
                </tr>
            </thead>
            <tbody>
                <% if @offers.blank? %>
                    <tr>
                        <td colspan="6" class="has-text-centered"><h1>オファーはありません</h1></td>
                    </tr>
                <% end %>
                <% @offers.each do |o| %>
                    <tr>
                        <td><%= o.created_at.strftime('%d, %b %Y') %></td>
                        <td>
                            <%= link_to o.request.title, request_path(o.request) %>
                        </td>
                        <td>$<%= o.request.budget %></td>
                        <td>$<%= o.amount %></td>
                        <td><%= pluralize(o.days, 'day') %></td>
                        <td>
                            <span class="tag <%= 'is-warning' if o.pending? %> 
                                             <%= 'is-success' if o.accepted? %>
                                             <%= 'is-danger' if o.rejected? %> ">
                                <%= o.status.capitalize %>
                            </span>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</section>