<section class="section">
    <div class="container">
        <p class="title">購入リスト</p>

        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>購入日</th>
                    <th>取引相手</th>
                    <th>タイトル</th>
                    <th>有効期限</th>
                    <th>料金</th>
                    <th>状況</th>
                    <th>アクション</th>
                </tr>
            </thead>
            <tbody>
                <% if @orders.blank? %>
                  <tr>
                      <td colspan="7" class="has-text-centered"><h1>オーダーはありません</h1></td>
                  </tr>
                <% end %>
                <% @orders.each do |o| %>
                    <tr>
                        <td><%= o.created_at.strftime('%d %b %Y') %></td>
                        <td><%= o.seller_name %></td>
                        <td>
                          <%= link_to o.title, order_detail_path(o) %>
                        </td>
                        <td><%= o.due_date.strftime('%d %b %Y') %></td>
                        <td><%= o.amount %>円</td>
                        <td>
                            <span class="tag <%= 'is-warning' if o.進行中? %> <%= 'is-success' if o.完了? %>">
                                <%= o.status.capitalize %>
                            </span>
                        </td>
                        <td>
                            <% if !o.完了? %>
                                <%= link_to '取引を完了する', complete_order_path(o), method: :put, class: "button is-small is-primary #{'is-hidden' if o.完了?}" %>  
                            <% else %>
                                <a class="button is-small is-outlined is-danger toggle-modal" aria-control="<%= o.id %>">評価する</a>

                                <div class="modal" id="<%= o.id %>">
                                    <div class="modal-background"></div>
                                    <div class="modal-content">
                                        <div class="box">
                                            <%= form_for Review.new do |f| %>
                                                <%= f.hidden_field :order_id, value: o.id %>
                                                <div class="field">
                                                    <div id="star_<%= o.id %>"></div>
                                                </div>
                                                <div class="field">
                                                    <%= f.text_area :review, class: "textarea" %>
                                                </div>
                                                <a class="toggle-modal button is-light" aria-control="<%= o.id %>">キャンセル</a>
                                                <%= f.submit "レビューする", class: "button is-danger" %>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</section>

<script>
    $('.toggle-modal').on('click', (e) => {
        e.stopPropagation();
        e.preventDefault();

        var order_id = e.target.getAttribute('aria-control');
        $('#star_' + order_id).raty({
            path: '/assets/raty-js/lib/images',
            scoreName: 'review[stars]',
            score: 1
        });
        $('#star_' + order_id).raty('reload');
        $('#' + order_id).toggleClass('is-active');
    });
</script>