<section class="section">
    <div class="container">

        <%= form_with model: [@gig, @gig.orders.new] do |f| %>
            <%= hidden_field_tag 'pricing_type', @pricing.pricing_type %>

            <div class="columns">

                <!-- LEFT SIDE -->
                <div class="column is-two-thirds">
                    <div class="columns is-multiline">
                        <div class="column is-full">
                            <div class="card">
                                <div class="card-content">
                                    <div class="content">
                                        <p class="title is-5">Payment options</p>
                                    </div>
                                    <hr>
                                    <div class="content">
                                        <% @stripe_customer.sources.each do |payment| %>
                                            <div class="control">
                                                <%= radio_button_tag 'payment', payment.id, checked: true %>
                                                <span class="m-l-10">
                                                    <%= payment.brand %> <%= "Card: **** **** **** " + payment.last4 %>
                                                </span>
                                            </div>
                                        <% end %>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>


                <!-- RIGHT SIDE -->
                <div class="column">
                    <div class="columns is-multiline">
                        <div class="column is-full">
                            <div class="card">
                                <div class="card-content">
                                    <div class="content">
                                        <p class="title is-5">会計</p>
                                    </div>
                                    <hr>
                                    <article class="media">
                                        <div class="media-content">
                                            <figure class="image is-4by3">
                                                <%= image_tag gig_cover(@gig) %>
                                            </figure>
                                        </div>
                                        <div class="media-right">
                                            <strong><%= @gig.title %> </strong>
                                        </div>
                                    </article>

                                    <article class="media">
                                        <div class="media-content">
                                            合計
                                        </div>
                                        <div class="media-right">
                                            $<%= '%.2f' % @pricing.price %>
                                        </div>
                                    </article>

                                    <article class="media">
                                        <div class="media-content">
                                            手数料 (<%= (@rate * 100).to_i %>%)
                                        </div>
                                        <div class="media-right">
                                            $<%= '%.2f' % (@pricing.price * @rate) %>
                                        </div>
                                    </article>

                                    <article class="media">
                                        <div class="media-content">
                                            合計
                                        </div>
                                        <div class="media-right">
                                            $<%= '%.2f' % (@pricing.price * (@rate + 1)) %>
                                        </div>
                                    </article>

                                    <article class="media">
                                        <div class="media-content">
                                            所用期間
                                        </div>
                                        <div class="media-right">
                                            <%= pluralize(@pricing.delivery_time, 'day') %>
                                        </div>
                                    </article>
                                    
                                    <%= f.submit "注文する", class: "button is-fullwidth is-danger", data: {confirm: "Are you sure?"} %>

                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</section>